.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    /* background: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }

  .img{
    height: 80px;
    width: 120px;
    /* margin-right: 20px; */
  }

  .name{
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .logo {
    font-size: 30px;
    color: black;
    font-weight: 700;
  }
  .navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    margin-left: 40px;
  }
  .navbar .nav-link::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #FCAE5E;
    transition: 0.3s;
  }
  
  .navbar .nav-link:hover::before {
    width: 100%;
  }
  
